.library {
  margin-top: 2.5%;

  .bookPanel {
    margin-bottom: 1.25%;
  }
}

.search {
  margin: 0 !important;
}

.inlineButton {
  border: 1px solid #00f2fe;

  &:hover {
    border: 1px solid #324b4d;
  }
}

.auto-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoContainer {
  position: absolute;
  background-color: whitesmoke;
  right: -5px;
  top: 75px;
  width: 100%;
  z-index: 10;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  text-align: left;
}

.flex-container {
  display: flex;
}

@media (min-width: 1024px) {
  .inlineButton {
    margin-top: 0;
  }

  .inlineSearch {
    padding: 15px 22px;
  }
}
