.bookSearch {
  width: 100%;
  padding: 13.5px 22px;
  box-sizing: border-box;
  font-size: 1.125em;
}

.primaryButton {
  width: 30%;
  border: 0.5px solid #00f2fe;

  &:hover {
    border: 0.125px solid #324B4D;
  }
}

.library {
  margin-top: 2.5%;

  .bookPanel {
    margin-bottom: 1.25%;
  }
}