.bookPanel {
  list-style-type: none;
  width: 100%;

  li {
    padding: 10px;
    overflow: auto;

    img {
      float: left;
      margin: 0 15px 0 0;
    }
  
    p {
      padding: 0;
      margin: 0;
      max-width: 75%;
    }

    button {
      float: right;
      margin-bottom: 5%;
    }
  }
}