.bookSearch {
  width: 100%;
  padding: 13.5px 22px;
  box-sizing: border-box;
  font-size: 1.125em;
}

.primaryButton {
  width: 30%;
  padding: 15px 22px;
  background: #4facfe;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  font-size: 1.125em;
  color: #324B4D;
  font-weight: 400;
  transition: 0.3s;
  font-weight: 500;
  border: 0.125px solid #4facfe;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: #3D4756;
    border: 1px solid #3D4756;
  }
}

.library {
  margin-top: 2.5%;

  .bookPanel {
    margin-bottom: 1.25%;
  }
}
