.header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  color: #fbe8a6;
  background-color: #303c6c;

  .logo {
    img {
      width: 30%;
    }
  }

  .paragraph {
    font-size: 0.75em;
  }

  .callToAction {
    a {
      text-decoration: none;
      color: #fbe8a6;
      width: 15%;
      padding: 1%;
      font-weight: 500;
      background-color: #303c6c;
      border: 7.5px solid #fbe8a6;
      border-radius: 25px;
      font-size: 1.75em;

      &:hover {
        color: #303c6c;
        background-color: #fbe8a6;
        border-radius: 25px;
      }
    }
  }
}

.about {
  margin: 5% 7.5% 0 7.5%;

  section {
    margin-top: 7.5%;
  }

  h2 {
    font-size: 2.25em;
    padding-bottom: 3%;
    color: #303c6c;
  }

  p {
    width: 100%;
  }

  .img {
    width: 100%;
    margin-top: 15%;
  }
}
