.layout {
  section {
    padding-top: 2.5%;

    .pageTitle {
      margin: 0;
      display: inline;
      font-size: 2.25em;
    }

    .pageSubtitle {
      display: block;
      max-width: 50%;
    }
  }
}

@media (max-width: 480px) {
  .layout {
    section {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
}