.layout {
  section {
    padding-top: 2.5%;

    .pageTitle {
      margin: 0;
      display: inline;
      font-size: 2.25em;
    }

    .pageSubtitle {
      display: block;
      max-width: 50%;
    }
  }
}