.navigation {
  height: 100px;
  background-color: #4facfe;
  margin-top: 0;
  width: 100%;
  color: #FCFCD4;
  position: fixed;
  float: left;

  h2 {
    font-size: 2.25em;
  }

  ul {
    list-style: none;
    
    
    li {
      display: inline;
    }

    a {
      text-decoration: none;

      &:visited {
        color: #FCFCD4;
      }

      &:hover{
        text-decoration: underline;
      }

      &:active {
        color: #FCFCD4;
      }
    }
  }
}