.navigation {
  height: 100vh;
  float: left;
  background-color:#324B4D;
  margin-top: 0;
  width: 20%;
  color: #FCFCD4;

  h2 {
    text-align: center;
    font-size: 2.25em;
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;

      &:visited {
        color: #FCFCD4;
      }

      &:hover{
        text-decoration: underline;
      }

      &:active {
        color: #FCFCD4;
      }
    }
  }
}