.button {
  background: transparent;
  color: white;
  font-size: 1em;
  width: 25%;
  border: 2px solid white;
  padding: 0.85%;
  border-radius: 15px;
  text-decoration: none;
  margin-left: 1.25%;
  margin-right: 1.25%;
  
  &:hover {
    text-decoration: underline;
  }
}