.formButton {
  padding: 15px 22px;
  background: #00f2fe;
  text-decoration: none;
  border: 2px solid #00f2fe;
  box-sizing: border-box;
  font-size: 1.125em;
  color: #324B4D;
  font-weight: 400;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: #324B4D;
    border: 2px solid #324B4D;
  }
}

@media (max-width: 480px) {
  .formButton {
    width: 100%;
    margin-top: 10px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .formButton {
    width: 60%;
    margin-top: 10px;
  }
}