.formInput {
  padding: 15px 22px;
  box-sizing: border-box;
  font-size: 1.125em;
  width: 100%;
}

.listInput {
  padding: 14px 22px;
  margin: 10px 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.125em;
}

@media (max-width: 480px) {
  .formInput {
    margin-top: 10px;
  }
}