.header {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #0070f3;
  text-align: center;
  color: white;

  .firstHeading {
    font-weight: 300;
    font-size: 2.25em;
  }

  .paragraph {
    font-size: 1.25em;
  }
}