html,
body {
  padding: 0;
  margin: 0;
  font-family: Hack, monospace;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}