@font-face {
  font-family: 'Hack';
  src: url('/fonts/ttf/Hack-Bold.ttf');
  src: url('/fonts/ttf/Hack-BoldItalic.ttf');
  src: url('/fonts/ttf/Hack-Italic.ttf');
  src: url('/fonts/ttf/Hack-Regular.ttf');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Hack, monospace;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.d-none {
  display: none;
}

.react-bootstrap-table-pagination {
  margin-left: 0!important;
  margin-right: 0!important;
}